<article class="film_container" data-ng-controller="itemFilmController" ng-style="bgFilm">
    <div class="wrapper">
        <div class="left_info">
            <figure>
                <img ng-src="{{img_uri150 + film.poster_path}}" alt="film.title"/>
            </figure>
        </div>
        <div class="right_info">
            <table class="film_info">
                <tr>
                    <td>Название</td>
                    <td>{{film.title}}</td>
                </tr>
                <tr>
                    <td>Слоган</td>
                    <td>{{film.tagline}}</td>
                </tr>
                <tr>
                    <td>Описание</td>
                    <td>{{film.overview}}</td>
                </tr>
                <tr>
                    <td>Бюджет</td>
                    <td>{{((film.budget/1000000) + '$ млн') || 'Не указано'}}</td>
                </tr>
                <tr>
                    <td>Сайт фильма</td>
                    <td><a data-ng-href="{{film.homepage}} target='_blank'">{{film.title}}</a></td>
                </tr>
                <tr>
                    <td>Дата выхода</td>
                    <td>{{film.release_date}}</td>
                </tr>
                <tr>
                    <td>Фильм на IMDB</td>
                    <td><a data-ng-href="{{film.imdb_id}} target='_blank'">Страница на IMDB</a></td>
                </tr>
            </table>
        </div>
    </div>

</article>